<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="bg-dark text-white p-3">
        <nav class="container">
            <ul class="nav">
                <img alt="imagem" src="/public/uesc.png" width="80"/>
                <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/usuarios">Usuários</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/categorias">Categorias</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/despesas">Despesas</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/relatorio">Relatório</a></li>
            </ul>
        </nav>
    </header>
    <main class="container my-5">
        {{{body}}}
    </main>
</body>
</html>